@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.header{
  box-shadow: 0 2px 9px -1px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0 15% 0 5%;
  background-color: rgba(255, 255, 255, 0.2);
}
.header li{
  list-style-type: none;
}
.header a{
  text-decoration: none;
  color: #1a1a1a;

}

.header-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item{
  margin-left: 40px;
  font-size: 1.5em;

}


.action{
  display: flex;
  position: absolute;
  right: 30px;
  top: 20px;
  align-items: center;
}
.action a {
  text-decoration: none;
  color: #1a1a1a;
}

.brand{
  font-size: 50px;
  font-weight: bold;
  margin-right: 70px;
}



.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.content{
  background-color: #FFFFFF;
  min-width: 70%;
  min-height: 60vh;
  margin-top: 60px;
  margin-left: 40px;
  position: relative;
  padding: 0 30px;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* 				USER MENU 			USER MENU  			USER MENU*/

.user-menu{
  background-color: #FFFFFF;
  width: 16%;
  margin-top: 60px;
  position: relative;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.user-menu li{
  list-style-type:none;
  font-size: 1.3em;
  font-family: "Roboto", serif;
  font-weight: bold;
  padding: 10px;
  padding-left: 20px;
  border-bottom: 1px solid #D919C5;
}

.user-menu li:last-child{
  border-bottom: 0 solid #D919C5;
}

.user-menu li a{
  text-decoration: none;
  margin-right: 15px;
  color: #000000;


}

.user-menu li a:hover {
  color: #7b71ee;

}
/*          PROFILE         */

.ras{
  display: block;
  margin: 0px 60px;
  float:left;
}
.block{
  display: block;
  padding: 0 50px 15px 100px;
  float:left;
}

.photo{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background-color: #DCDCDC;
  width: 150px;
  height: 200px;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: rgba(111, 122, 237, 0.2);
}
.inform{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background-color: #DCDCDC;
  width: 800px;
  height: 150px;
  border: 0;
  text-align: left;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: rgba(111, 122, 237, 0.2);
  resize: none;
}

.pas{
  font-size: 1.2em;
  font-family: "Roboto", serif;
  font-weight: bold;
  padding: 0 10px 15px 0;
  width: 100%;
}
.changepass{
  display:flex;
  margin: 15px 0;
}
.inf{
  font-size: 1.2em;
  font-family: "Roboto", serif;
  font-weight: bold;
  text-align: left;
  padding: 0 0 10px 0;
}

/* 								TASK						TASK			TASK*/
.tasker{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background-color: #DCDCDC;
  width: 180px;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 5px;
  background-color: rgba(111, 122, 237, 0.2);
}

.task{
  min-height: 30px;
  width: 50%;
  background-color: #DCDCDC;
  list-style-type: none;
  font-size: 1.3em;
  font-family: "Roboto", serif;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 5px;
  margin-right: 25px;
  cursor: pointer;
  background-color: rgba(111, 122, 237, 0.2);
}
/*
.task:nth-child(2n){
	background-color: rgba(176, 67, 246, 0.2);
}
.task:nth-child(2n+1){
	background-color: rgba(230, 20, 253, 0.2);
}
*/

.number{
  min-height: 30px;
  width: 80px;
  text-align: center;
  background-color: #DCDCDC;
  list-style-type: none;
  font-size: 1.3em;
  font-family: "Roboto", serif;
  font-weight: bold;
  padding: 10px 5px;
  border-radius: 5px;
  margin-right: 25px;
  background-color: rgba(111, 122, 237, 0.2);
}
.row{
  display:flex;
  margin: 15px 0;
  align-items: center;
}
.column{
  display: flex;
  flex-direction: column;
}
.timer{
  font-size: 2.6em;
  font-family: "Roboto", serif;
  font-weight: bold;
  width: 36%;
  text-align: center;
}

.label{
  font-size: 1.2em;
  font-family: "Roboto", serif;
  font-weight: bold;
  text-align: right;
  padding: 0 10px 0 30px;
}

.button-g, .button-b, .button-p, .button-s, .button-r{
  width: 125px;
  height: 30px;
  padding: 0 15px;
  font-size: 1.3em;
  font-family: "Roboto", serif;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.button-g:not([disabled]), .button-b:not([disabled]), .button-p:not([disabled]), .button-s:not([disabled]), .button-r:not([disabled]){
  cursor: pointer;
}

.button-g{
  margin-right: 25px;
  background-color: #15C9E2;
}
.button-g:hover:not([disabled]){
  background-color: #8919E1;
}
.button-b{
  margin-right: 25px;
  background-color: #669CEC;
}
.button-b:hover:not([disabled]){
  background-color: #8919E1;
}
.button-r{
  background-color: #FF4040;
}
.button-r:hover:not([disabled]){
  background-color: #FF7373;
}
.button-s{
  margin-right: 25px;
  background-color: #669CEC;
  width: 280px;
  height: 30px;
}
.button-s:hover:not([disabled]){
  background-color: #8919E1;
}

.button-p{
  width: 220px;
  height: 60px;
  margin-left: 25px;
  color: #ffffff;
  background-color: #C519E1;
}
.button-p:hover{
  background-color: #8919E1;
}
.cross{
  font-size: 1.3em;
  font-family: "Roboto", serif;
  font-weight: bold;
  text-align: center;
  padding: 5px 10px;
  background-color: #FF4040;
  border: none;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.cross:hover{
  background-color: #FF7373;
}
.cross2{
  margin-left: 15px;
  background-color: #FF4040;
  border-radius: 10px;
  cursor: pointer;
  padding: 0 6px 1px 6px;
  display: inline-block;

}

/*                              EDITOR      EDITOR      EDITOR*/
.cover{
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.editor{
  position: absolute;
  padding: 25px 45px;
  top:10%;
  left:60%;
  transform:translate(-50%, 0);
  width: 50%;
  height: auto;
  max-height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.editor h1, .editor h3, .editor h2{
  margin-top: 0;
  margin-bottom: 10px;
}
.fields .check-mark{
  width: 30px;
  height: 30px;
  margin: 0 10px 10px 30px;
}
.fields{
  /*width:90%;*/
  display: flex;
  /*justify-content: space-between;*/
  flex-direction: column;
}
.fields input, .date{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
}
.fields textarea{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
  resize: none;
}
.date{
  border: 1px solid #1a1a1a;
  background: none;
  width: auto;
  margin: 0 10px 0 0;
  padding: 0 15px;
  height: 30px;
}
.select{
  margin-right: 30px;
  font-size: 20px;
}
select{
  width: auto;
}
.editor button{
  margin-right: 30px;
}
.employes{
  background-color: rgb(196, 199, 241);
  padding: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.employes:hover{
  background-color: rgb(138, 151, 255);
}
.close{
  position: absolute;
  top: 0;
  right: 0;
  margin: 25px 45px auto auto;
  background-color: #6c7bfe;
  border: 0 solid;
  border-radius: 5px;
  font-size: 30px;
}
.close:hover{
  background-color: #b327fe;
}

/*                    DRAGGABLE       DRAGGABLE       */
.drag-block{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.drag-block .column{
  width: 40%;
  margin-right: 50px;
}
.drag-block .column:last-child{
  width: 15%;
  align-self: stretch;
  height: auto;
}
.drop-zone {
  background-color: #eee;
  padding: 10px;
  min-height: 20px;
}
.drag-block .column:last-child .drop-zone{
  background-color: #e31147;
  height: 100%;
}
.drag-el {
  background-color: rgb(196, 199, 241);
  margin-bottom: 10px;
  padding: 5px;
}
.dragging {
  opacity: .75;
}
/*                       tasks      */

.tasks{
  border-radius: 5px 0 5px 5px;
  border: 1px solid black;
}

.table{
  position: absolute;
  display: flex;
  flex-direction: column;
}
.horizontal-scroll{
  width: 70%;
  position: relative;
}
.dates{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255,255,255);
}
.dates:nth-child(2n){
  background-color: rgb(244,245,247);
}
.dates div{
  display: flex;
  justify-content: center;
}
.task-table{
  position: relative;
  width: 30%;
  border-right: 3px solid #1a1a1a;
  margin-bottom: -1px;
  box-sizing: border-box;
}
.table-row, .task-in-table{
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
}
.main-table-row{background-color: rgb(255,255,255);}
.table-subrow{
  height: 30px;
}
.table-subrow .table-task{
  padding: 0 15px;
}
.row-in-table{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(255,255,255);
}
.task-in-table{
  padding-left: 10px;
  cursor: pointer;
  flex-grow: 1;
}
.task-in-table div, .subtask-in-table div{
  display: inline-block;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.subtask-in-table div{
  max-width: 281px;
}
.subtask-in-table{
  height: 30px;
  padding-left: 40px;
}
.row-in-table:first-child{
  border-radius: 5px 0 0 0;
  height: 50px;
  border-bottom: 1px solid #1a1a1a;
}
.row-in-table:first-child .task-in-table{
  cursor: auto;
}
.main-table-row:first-child .table-row{
  /*border-radius: 0 5px 0 0;*/
  align-items: normal;
  border-bottom: 1px solid #1a1a1a;
}
.main-table-row:nth-child(2n), :nth-child(2n).row-in-table{
  background-color: rgb(244,245,247);
}
.table-task{
  background-color: #6c7bfe;
  position: relative;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis
}

.hover{
  background-color: rgb(235,236,240) !important;
}


.plus-btn{
  position: relative;
  margin: 0 10px;
  width: 20px;
  height: 20px;
  background-color: #DCDCDC;
  border-radius: 3px;
  background-image: url('../images/icons/plus.ico');
  background-size: cover;
  cursor: pointer;
}
.arrow-btn{
  margin: 0 0 0 10px;
  width: 10px;
  height: 10px;
  background-image: url('../images/icons/rightarrow.ico');
  background-size: cover;
  cursor: pointer;
  transition: transform .5s;
}

.hidden ~ .task-in-table{
  padding-left: 30px;
}

.plus-btn:before, .plus-btn:after{
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}
/* style for text */
.plus-btn:before{
  content: attr(data-content);
  width: 200px;
  height: auto;
  text-align: center;
  background: #669CEC;
  border-radius: 5px;
  bottom: 50px;
  left: calc(50% - 100px);
}
/* style for arrow */
.plus-btn:after {
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #669CEC;
  bottom: 30px;
  left: calc(50% - 10px);
}
/* move */
.plus-btn:hover:before, .plus-btn:hover:after {
  opacity: 1;
  visibility: visible;
  transition: ease-in-out .4s;
}

.plus-btn:hover:before {
  bottom: 30px;
}
.plus-btn:hover:after {
  bottom: 10px;
}
/*                      FORM                    FORM*/

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
}
.form button, .editor button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #6c7bfe;
  background: -webkit-linear-gradient(right, #26cffe, #6c7bfe, #b327fe);
  background: -moz-linear-gradient(right, #26cffe, #6c7bfe, #b327fe);
  background: -o-linear-gradient(right, #26cffe, #6c7bfe, #b327fe);
  background: linear-gradient(to left, #26cffe, #6c7bfe, #b327fe);
  width: 100%;
  border: 0;
  padding: 15px;
  margin-bottom: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus, .editor button:hover {
  background: #b327fe;
  background: -webkit-linear-gradient(left, #26cffe, #6c7bfe, #b327fe);
  background: -moz-linear-gradient(left, #26cffe, #6c7bfe, #b327fe);
  background: -o-linear-gradient(left, #26cffe, #6c7bfe, #b327fe);
  background: linear-gradient(to right, #26cffe, #6c7bfe, #b327fe);
}

.editor button{
  margin-right: 30px;
}

.login-page .form p{
  margin: 0;
  color: #b3b3b3;
  font-size: 15px;
}

.login-page .form a{
  color: #b327fe;
  text-decoration: none;

}

.login-page .form a:hover{
  color: #6c7bfe;
}

.logout{
  text-decoration: none;
  margin:30px 0;
  font-size: 20px;
  padding: 5px 15px;
  display: block;
  width: 70px;
  text-align: center;
  background-color: #6c7bfe;
}

.logout:hover{
  background-color: #7b71ee;
}

.alert-error{
  margin-top: -10px;
  margin-bottom: 20px;
  color: #EF3B3A;
}

.form .forgot {
  display: none;
}
.active{
  color:#CD6AB7 !important;
  font-weight: bolder;
  cursor: auto !important;
}
.tab{
  padding: 5px 30px;
  border: 2px solid black;
  border-radius: 15px 15px 0 0;
  cursor: pointer;
}
.tab-table{
  display: block;
  padding: 0 5px;
  border: 2px solid black;
  border-radius: 0 5px 5px 5px;
  margin-top: -16px;
  margin-bottom: 30px;
}

.hidden{
  display: none;
}

.time-list{
  margin: 0 auto;
  padding-left: 0;
}
.time-list li{
  list-style-type: none;
}
.container {
  /*position: relative;*/
  z-index: 1;
  margin: 0 auto;
  display: flex;
  justify-content:center;
  align-items: flex-start;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1, .h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.h1{
  border: none;
}
.h1:disabled{
  background: none;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #7b71ee; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #06d6e0, #7b71ee, #d920fa);
  background: -moz-linear-gradient(right, #06d6e0, #7b71ee, #d920fa);
  background: -o-linear-gradient(right, #06d6e0, #7b71ee, #d920fa);
  background: linear-gradient(to left, #06d6e0, #7b71ee, #d920fa);
  background-image: url('../images/bg-01.jpg');
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 980px) {
  body {
    background-image: url('../images/bg-02.jpg');
  }
}