@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.header{
  box-shadow: 0 2px 9px -1px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0 15% 0 5%;
  background-color: rgba(255, 255, 255, 0.2);
}
.header li{
  list-style-type: none;
}
.header a{
  text-decoration: none;
  color: #1a1a1a;

}

.header-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item{
  margin-left: 40px;
  font-size: 1.5em;

}
.action{
  display: flex;
}

.brand{
  font-size: 50px;
  font-weight: bold;
  margin-right: 70px;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.content{
  background-color: #FFFFFF;
  max-width: 80%;
  min-height: 60vh;
  margin: 0 auto;
  margin-top: 60px;
  position: relative;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.user-menu li{
  list-style-type:none;
  font-size: 1.5em;
  padding: 10px;
}

.user-menu li a{
  text-decoration: none;
  color: #6c7bfe;

}

.user-menu li a:hover {
  color: #7b71ee;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #6c7bfe;
  background: -webkit-linear-gradient(right, #26cffe, #6c7bfe, #b327fe);
  background: -moz-linear-gradient(right, #26cffe, #6c7bfe, #b327fe);
  background: -o-linear-gradient(right, #26cffe, #6c7bfe, #b327fe);
  background: linear-gradient(to left, #26cffe, #6c7bfe, #b327fe);
  width: 100%;
  border: 0;
  padding: 15px;
  margin-bottom: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #b327fe;
  background: -webkit-linear-gradient(left, #26cffe, #6c7bfe, #b327fe);
  background: -moz-linear-gradient(left, #26cffe, #6c7bfe, #b327fe);
  background: -o-linear-gradient(left, #26cffe, #6c7bfe, #b327fe);
  background: linear-gradient(to right, #26cffe, #6c7bfe, #b327fe);
}

.login-page .form p{
  margin: 0;
  color: #b3b3b3;
  font-size: 15px;
}

.login-page .form a{
  color: #b327fe;
  text-decoration: none;

}

.login-page .form a:hover{
  color: #6c7bfe;
}

.logout{
  text-decoration: none;
  margin-top:50px;
  font-size: 20px;
  padding: 10px 15px;
  display: block;
  width: 70px;
  text-align: center;
  background-color: #6c7bfe;
}

.logout:hover{
  background-color: #7b71ee;
}

.alert-error{
  margin-top: -10px;
  margin-bottom: 20px;
  color: #EF3B3A;
}

.form .forgot {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #7b71ee; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #06d6e0, #7b71ee, #d920fa);
  background: -moz-linear-gradient(right, #06d6e0, #7b71ee, #d920fa);
  background: -o-linear-gradient(right, #06d6e0, #7b71ee, #d920fa);
  background: linear-gradient(to left, #06d6e0, #7b71ee, #d920fa);
  background-image: url('../images/bg-01.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

@media screen and (max-width: 980px) {
  body {
    background-image: url('../images/bg-02.jpg');
  }
}